body {
    margin: 0;
}

.hero {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding: 0 150px;

    justify-content: space-between;
}

.header {
    display: flex;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    align-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    align-items: center;
    gap: 25px
}

a, p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

p {
    margin-top: 0;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}

.container {
    display: flex;
    margin: 30px 40px;

}

.image{
    display: flex;
    background-color: grey;
    width: 300px;
    margin-left: auto;
}