body {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul, a {
    text-decoration: none;
    list-style-type: none;
    color: #E5E7EB;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    padding: 20px 0 20px 200px;
    align-items: center;
}

.logo {
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
}

.links {
    display: flex;
    margin-left: auto;
    padding: 0 200px 0 0;
}